# source this file:
# . env.sh

# server host to listen on, defaults to localhost
export HOST='localhost'
# server port to listen on, defaults to 3000
export PORT=3000

# RethinkDB host, defaults to localhost
export DB_HOST='localhost'
# RethinkDB port, defaults to 28015
export DB_PORT=28015
# RethinkDB DB name, defaults to development
export DB_NAME="development"

# github handler service URL (including protocol and port)
export GHH_URL="http://localhost:3010"
# github handler service path
export GHH_HOOK_PATH="/github-webhook"
# Full URL to send to Gighub when configuring hooks, defaults to GHH_URL + GHH_HOOK_PATH
export GHH_HOOK_URL="http://notify.probo.do.ilya.io/github-webhook"
# We require a secret to be set for github hooks
export GHH_HOOK_SECRET="SECRET"

# stash handler service URL (including protocol and port)
export SH_URL="http://localhost:3011"
export SH_HOOK_PATH="/stash-webhook"


# container manager URL (including schema and port)
export CM_URL="http://localhost:3020"

# enabled/disable invite codes. must be truthy to be enabled
export INVITE_CODES_ENABLED=true

# Site proxy URL template. {{buildId}} is automatically replaced with the ID of the build
export SITE_PROXY_URL="http://{{buildId}}.domain.com"
