# source this file:
# . env.sh

# server host to listen on, defaults to localhost
export HOST='localhost'
# server port to listen on, defaults to 3060
export PORT=3060

# RethinkDB host, defaults to localhost
export DB_HOST='localhost'
# RethinkDB port, defaults to 28015
export DB_PORT=28015
# RethinkDB DB name, defaults to logs
export DB_NAME="logs"
# RethinkBD table for storing actual logs
export DB_LOGS_TABLE="logs"
# RethinkBD table for storing stream metadata
export DB_META_TABLE="meta"
